.comparison-container {
  background-color: $black;
  h1 {
    background-color: $black;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
  }
  h2 {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: sticky; top: 0px;
    z-index: +5;


  }
}
.maxi-add-article-button {
  span {
    text-decoration: none;
    color: white;
    font-family: 'Inconsolata';
    font-weight: 500;
    &:hover {
      color: $main;
      text-decoration: none;
    }
  }
  &:hover {
    color: $main !important;
    text-decoration: none;
  }
  i:hover span {
    color: $main;
    text-decoration: none;
  }
}

#fixedbutton {
    position: fixed;
    bottom: 10px;
    right: 5px;
}
