// Specific CSS for your home-page
body {
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: $black;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba($color: white, $alpha: 0);

}

.maxi-container-home {
  margin-left: 80px;
}

#sub-header-home {
  margin-top: 20px;
  color: white;
  font-size: 25px;
}

#new_comparison {
  margin-top: 50px;
}

.maxi-container-home {
  p.notice {
    display: none;
  }
}
