<style>
  body {background: #191A1A;}
</style>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="color:white">Our mission</h1>
      <p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit<span style="color:#fc5f29">.</span> Integer suscipit finibus nibh<span style="color:#fc5f29">.</span> Vivamus accumsan sed nisi ut commodo<span style="color:#fc5f29">.</span> Vestibulum in lacus efficitur, tempor arcu eu, imperdiet est<span style="color:#fc5f29">.</span> In imperdiet vulputate ligula<span style="color:#fc5f29">.</span> Praesent at ipsum purus<span style="color:#fc5f29">.</span> Nam condimentum et urna vehicula rutrum<span style="color:#fc5f29">.</span> </p>

      <%= link_to 'Start exploring', "#", class: "button-primary" %>
    </div>
  </div>




</div>
