.comparison-container {
  h1 {
    text-align: center;
  }
}

.articles-compare-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.articles-left {
  width: 50%;
  margin: 20px;
  h2  {
    text-align: center;
    margin-bottom: 40px;
  }
}

.articles-right {
  width: 50%;
  margin: 20px;
  h2  {
    text-align: center;
    margin-bottom: 40px;
  }
}

.articles-card-container {
  width: auto;
  height: 268px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.articles-card-date {
  margin-left: 15px;
  margin-right: 15px;
  width: 120px;
  align-items: center;
  color: gray;
}

.article-card-info {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  a {
    text-decoration: none;
  }
  .info-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .info-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .author {
    border-top: 1px grey solid;
    position: absolute;
    bottom: 0;
  }
}

.articles-card-image {
  margin-left: 15px;
  margin-right: 15px;
  img {
    width: 150px;
    height: 200px;
  }
}
