.form-container {
  max-width: 400px;
  .form-group{
    flex-grow: 4;
  }
  .white-bordered-icon-input-container {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px 5px 25px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
    background-color: rgb(217, 217, 217);
    border-radius: 30px;
    padding: 5px 10px;
    line-height: 18px;
    font-size: 16px;
    margin: 5px auto 5px;
  }

  // style in seacrh icon
  .input-group-text {
    background-color: transparent;
    border: none;
    margin:0;
    padding: 0 10px 0 20px;
  }

  .form-group {
    margin-bottom: 0;
    padding: 5px 0;
  }

  i {
    font-size: 26px;
  }
}

  .nowhite-input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
    background-color: rgb(217, 217, 217);
    border-radius: 30px;
    padding: 5px 10px;
    line-height: 18px;
    font-size: 16px;
    margin: 5px auto 5px;
  }

  // style in seacrh icon
  .input-group-text {
    background-color: transparent;
    border: none;
    margin:0;
    padding: 0 10px 0 20px;
  }
  .form-group {
    margin-bottom: 0;
    padding: 5px 0;
  }
  i {
     font-size: 26px;
     color: white;
  }
  }

}
body {
  min-height: 100vh;
}

.form-control.is-valid {
  border-color: transparent !important;
  padding-right: 0px !important;
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.navbar-form {
  label {
    display: none;
  }
  .form-group {
    max-width: 110px;
  }
 input {
  padding-right: 0 !important;}
}
.absolute-form {
  position: absolute;
  z-index: 9999999;
  top: 200px;
  left: 30px;
}
