.map-page {
  background-color: $black !important;
  .button-white {
    min-width: 115px !important;
    padding: 8px!important;
    margin-top: 0!important;
    margin-bottom: 3px!important;
  }
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}
#map {
  min-height: 83vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-marker {
  svg g {
    fill: $main !important;
  }
}
.control-map {

}
