.background-video {
  width: "100vw";
  height: "100vh";
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -15;
  filter: brightness(50%);
}

.video {
  height: 100vh;
  h1 {
    color: white;
    margin-left: 80px;
    margin-top: 400px;
  }
  h2 {
    color: white;
    margin-left: 80px;
  }
}
